@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fontsource/poppins/index.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Poppins", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-background: #fffee6;
  --clr-dark: rgba(114, 110, 247, 0.46);
  --clr-accent: #000;
  --clr-font: #000;

  --light-bg-primary: #bdd3ef;
  --light-bg-secondary: #75c0d1;
  --light-text-primary: #2d3748;
  --light-text-secondary: #057276;
  --light-text-accent: #42f2f7;

  --dark-color-bg-primary: #102542;
  --dark-color-bg-secondary: #46acc2;
  --dark-color-text-primary: #f7fafc;
  --dark-color-text-secondary: #498c8a;
  --dark-color-text-accent: #42f2f7;

  --shadow: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));

  --fs-h1: 4.5em;
  --fs-h2: 2.2rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.125rem;
  --fs-btn: 0.875rem;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light-bg-primary);
  /* color: var(--clr-dark); */
  /* font-size: var(--fs-body); */
  line-height: 1.6;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.dark body {
  background: var(--dark-color-bg-primary);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* h1 {
  font-size: var(--fs-h1);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
} */
