@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
   --ff-primary: 'Roboto', sans-serif;

   --fw-reg: 300;
   --fw-bold: 900;

   --clr-light: #fff;
   --clr-background: #FFFEE6;
   --clr-dark: rgba(114, 110, 247, 0.46);
   --clr-accent: #000;
   --clr-font: #000;

   --fs-h1: 4.5em;
   --fs-h2: 2.2rem;
   --fs-h3: 1.5rem;
   --fs-body: 1.125rem;
   --fs-btn: .875rem
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-background);
  color: var(--clr-dark);
  font-size: var(--fs-body);
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{ 
  font-size: var(--fs-h1); 
  color: var(--clr-accent); 
  font-weight: var(--fw-bold);
}

h2{ 
  font-size: var(--fs-h2); 
  color: var(--clr-accent); 
  font-weight: var(--fw-bold);
}

h3{ 
  font-size: var(--fs-h3); 
  color: var(--clr-accent); 
  font-weight: var(--fw-bold);
}
