  table {
    font-family: Arial, Helvetica, sans-serif;
    
    border-collapse: collapse;
    width: 94vw;
  }

  table tbody{
    height: 10px;
  }
  
  table td, table th {
    border: 2px solid #ddd;
    padding: 6px;
  }

  #paging{
    margin-left: 1vw;
  }
  
  table tr:nth-child(even){background-color: #fff;}
  table tr:nth-child(odd){background-color: #eee;}
 
  
  table tr:hover {background-color: #ddd;}
  
  table th{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  tfoot td {
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border-color: #04AA6D;
  }

  input{
    color:black
  }

  .tableFixHead {
    overflow-y: auto;
    height: 78vh;
    margin: 0.5vw;
    margin-left: 1vw;
  }

  
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  .tableFixHead tfoot tr {
    position: sticky;
    bottom: 0;
  }