#so:checked~.button {
    transform: translateX(243px);
    -webkit-transform: translateX(243px);
    -moz-transform: translateX(243px);
    -ms-transform: translateX(243px);
    -o-transform: translateX(243px);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}