.footer__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  // color: var(--clr-font);
}
