.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  background-color: var(--clr-light);
  font-size: var(--fs-btn);
  border-radius: 15px;
  color: var(--clr-accent);
  padding-right: 20px;
  padding-left: 20px;
  filter: var(--shadow);
  height: 40px;
}

.searchSelect,
.searchContainer {
  display: flex;
  flex-grow: 1;
  width: 90%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  // margin-right: 20px;
  // margin-left: 20px;
}

.searchSelect select {
  color: gray;
  background-color: var(--clr-light);
  height: 100%;
  width: 90%;
}

.faIcon {
  font-size: 30px;
  padding-left: 5px;
}

@media (max-width: 900px) {
  .searchBar{
    width: 400px;
    flex-direction: column;
    padding: 5px;
    height: 100px;
  }
  .searchSelect{
    padding-bottom: 5px;
  }
}

@media (max-width: 450px) {
  .searchBar{
    width: 280px;
    flex-direction: column;
    padding: 5px;
    height: 100px;
  }
  .searchSelect{
    padding-bottom: 5px;
  }
  .searchInput{
    width: 250px;
  }
  #establishment{
    width: 80%;
  }
}

#establishment{
  width: 80%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.autoContainer {
  position: absolute;
  background: white;
  width: 90%;
  margin-top: 15rem;
  margin-left: 3.5rem;
  
}

.optionContainer{
  padding: 10px 20px;
  
}

.optionContainer:hover{
  background: #634646;
  columns: white;
  cursor: pointer;
}

.searchInput{
  display: flex;
  padding-left: 10px;
}