.head {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0 auto;
  max-width: 1200px;
  color: var(--clr-accent);
  align-items: center;
}

.logo {
  filter: var(--shadow);
}

.login {
  display: flex;
  align-items: center;
  font-size: var(--fs-btn);
}

.btn_sign_in {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
}

.btn_sign_in:hover {
  color: white;
}

.btn_sign_in svg {
  margin-left: 10px;
}

.btn_signup {
  width: 114px;
  height: 44px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #14caf3;
  border-radius: 10px;
  color: white;
}

.dark .btn_signup {
  background: #102542;
}

.btn_signup:hover {
  background: #14caf3c7;
}

.dark .btn_signup:hover {
  background: #1a427ac4;
}

.btn_signed_in {
  display: flex;
  align-items: center;
}

.userLoggedImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-right: 10px;
  filter: var(--shadow);
}

.login .dropdown:hover .dropdown-menu {
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  width: 100px;
  z-index: 100;
  display: block;
  background-color: var(--light-bg-secondary);
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  animation: growDown(300ms ease-in-out forwards);
}

.dropdown-menu li:hover{
  color: white;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
}

.dark .login .dropdown:hover .dropdown-menu {
  background: var(--dark-color-bg-secondary);
}
